
<div class="container">
	<h1>The Good Egg Co.</h1>
	<p>Family owned and opperated</p>
	<p>For more information checkout our facebook  and twitter  page to learn more</p>

	</br>


	<a href="http://facebook.com/goodeggsaregood"><%=image_tag("facebook.png") %></a>

	<a href="http://twitter.com/goodeggsaregood" target="blank"> <%=image_tag("twitter.png") %></a>

</div>
